// Override Bootstrap variables
// $primary: #ffb525; --> Déclarée en nouvelle couleur
$dark: #1e1e1e;
$light: #efefef;
$flowtech: #ffb525;

@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

// Ajout nouvelle couleur à bootstrap
$custom-theme-colors: (
	"flowtech": $flowtech,
	//"gris": #1e1e1e,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

.nav-link {
	color: $dark;
}

@font-face {
	font-family: magz;
	src: url(../fonts/magz.otf);
}

.magz {
	font-family: magz;
	font-size: 1.5rem;
}

.header-index {
	min-height: 100vh;
	max-height: auto;
	background-color: $dark;
}

.header-shop {
	min-height: 50vh;
	max-height: auto;
	background-color: $dark;
}

.header-25 {
	min-height: 25vh;
	max-height: auto;
	background-color: $dark;
}

.header-gradient {
	height: 20em;
	max-width: 100%;
	background: rgb(255, 181, 37);
	background: linear-gradient(180deg, rgba(255, 181, 37, 1) 0%, rgba(30, 30, 30, 0) 100%);
}

.btn {
	border-radius: 1.5em;
}

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); // Righteous font
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap"); // Bungee font

.righteous {
	font-family: "Righteous", sans-serif;
}

.header-text {
	color: #fff;
	text-shadow: 0 0 15px #fff, 0 0 30px #fff;
}

.shop-card-img {
	background-color: #efefef38;
	border-radius: 5px 5px 15px 15px;
	padding: 1.5em;
	height: 100%;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

.mentionslegales a:link {
	color: $flowtech;
	text-decoration: underline;
}
