// Override Bootstrap variables
// $primary: #ffb525; --> Déclarée en nouvelle couleur
$dark: #1e1e1e;
$light: #efefef;
$flowtech: #ffb525;

@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

// Ajout nouvelle couleur à bootstrap
$custom-theme-colors: (
	"flowtech": $flowtech,
	//"gris": #1e1e1e,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

.nav-link {
	color: $dark;
}

@font-face {
	font-family: magz;
	src: url(../fonts/magz.otf);
}

.magz {
	font-family: magz;
	font-size: 1.5rem;
}

.header-index {
	min-height: 100vh;
	max-height: auto;
	background-color: $dark;
}

.header-shop {
	min-height: 50vh;
	max-height: auto;
	background-color: $dark;
}

.header-25 {
	min-height: 25vh;
	max-height: auto;
	background-color: $dark;
}

.header-gradient {
	height: 20em;
	max-width: 100%;
	background: rgb(255, 181, 37);
	background: linear-gradient(180deg, rgba(255, 181, 37, 1) 0%, rgba(30, 30, 30, 0) 100%);
}

.btn {
	border-radius: 1.5em;
}

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); // Righteous font
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap"); // Bungee font

.righteous {
	font-family: "Righteous", sans-serif;
}

.header-text {
	color: #fff;
	text-shadow: 0 0 15px #fff, 0 0 30px #fff;
}

.shop-card-img {
	background-color: #efefef38;
	border-radius: 5px 5px 15px 15px;
	padding: 1.5em;
	height: 100%;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

.mentionslegales a:link {
	color: $flowtech;
	text-decoration: underline;
}

//rajouter un effet de mouvement sur les cartes du shop + couleur qui change

// NEIGE
/* Définition des variables, assurez-vous que ces variables sont définies ou déclarez-les si elles ne le sont pas */
$d: 70; /* densité */
$w: 600; /* taille de la grille */
$s: 5s; /* vitesse */

/* Génération de l'effet de neige en utilisant des gradients radiaux */
$grad: ();
@for $i from 0 to $d {
	$v: random(4) + 2;
	$a: random(5) * 0.1 + 0.5;
	$grad: $grad, radial-gradient($v + px $v + px at (random($w - $v * 2) + $v) + px (random($w - $v * 2) + $v) + px, rgba(255, 255, 255, $a) 50%, rgba(0, 0, 0, 0)) !global;
}

/* Application de l'effet de neige aux éléments avec la classe .snow-header */
/* Définition des variables, assurez-vous que ces variables sont définies ou déclarez-les si elles ne le sont pas */
$d: 70; /* densité */
$w: 600; /* taille de la grille */
$s: 5s; /* vitesse */

/* Génération de l'effet de neige en utilisant des gradients radiaux */
$grad: ();
@for $i from 0 to $d {
	$v: random(4) + 2;
	$a: random(5) * 0.1 + 0.5;
	$grad: $grad, radial-gradient($v + px $v + px at (random($w - $v * 2) + $v) + px (random($w - $v * 2) + $v) + px, rgba(255, 255, 255, $a) 50%, rgba(0, 0, 0, 0)) !global;
}

/* Application de l'effet de neige aux éléments avec la classe .snow-header */
.snow-header {
	position: relative;
	overflow: hidden; /* Assurez-vous que le contenu ne déborde pas du header */
}

/* Application de l'effet de neige aux pseudo-éléments */
.snow-header:before,
.snow-header:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	pointer-events: none; /* Assurez-vous que les pseudo-éléments ne captent pas les événements de souris */
	z-index: 1; /* Placez l'effet au-dessus du contenu */
	width: 100%;
	height: 100%;
	background-image: $grad;
	background-size: $w + px $w + px;
	animation: snow $s linear infinite;
}

.snow-header:after {
	margin-left: -$w/3 + px;
	opacity: 0.4;
	animation-duration: $s * 2;
	// animation-direction: reverse;
	filter: blur(3px);
}

.snow-header:before {
	animation-duration: $s * 3;
	// animation-direction: reverse;
	margin-left: -$w/2 + px;
	opacity: 0.65;
	filter: blur(1.5px);
}

@keyframes snow {
	from {
		transform: translateY(-$w + px); /* Changer la direction de la translation */
	}
	to {
		transform: translateY(100vh); /* La neige descend jusqu'au bas de l'écran (vous pouvez ajuster cela selon vos besoins) */
	}
}
