// Override Bootstrap variables
$primary: #ffb525;

@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

// Ajout nouvelle couleur à bootstrap
$custom-theme-colors: (
	"altdark": #2b0505,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
